---
import { SEO } from "astro-seo";
import Footer from "@components/footer.astro";
// import Navbar from "@components/navbar/navbar.astro";
// import "@fontsource-variable/inter/index.css";
// import '@fontsource-variable/bricolage-grotesque';



export interface Props {
  title: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site).toString();

const resolvedImageWithDomain = new URL(
  "/opengraph.jpg",
  Astro.site
).toString();

const { title } = Astro.props;

const makeTitle = title
  ? title + " | " + "Astroship"
  : "Astroship - Starter Template for Astro with Tailwind CSS";
---

<!DOCTYPE html>
<html lang="en" data-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="images/main/icon.ico" />
    <meta name="generator" content={Astro.generator} />
    <meta name="theme-color" content="#9EA3FA" />
    <meta name="google-site-verification" content="tZugrinhztrKtJzjA74afuQ-gZzHSvMevh9iSdatYHM" />
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-7LZ8CJSZNM"></script>

    <SEO />

    <title>{title}</title>

    <!-- preload fonts -->

    <link
      rel="preload"
      href="/fonts/SilkSerif-ExtraLight.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
    <link
      rel="preload"
      href="/fonts/SilkSerif-Light.woff2"
      as="font"
      type="font/woff2"
      crossorigin=""
    />
  </head>
  <body>
    <div class="tiledBackground">
      <div id="topblock"></div>
      <p style="text-align:center;"><a class="lg" href="/">LG DRYER REPAIR</a></p>
      <p style="font-size:1.3em;font-weight:900; max-width:650px; margin:0 auto 0 auto; padding:10px 30px 30px 0; text-align: center; color:#ffffff;">
        <a style="color:#ffffff;" href="/areas/lg-dryer-repair-los-angeles" title="LG Dryer Repair in Los Angeles">Los Angeles County</a> &bull; <a style="color:#ffffff;" href="/areas/lg-appliance-repair-orange-county" title="LG Appliance Repair in Orange County">Orange County</a> &bull; Ventura County</p>
    <p style="color:#ffffff; font-weight:900;font-family:'Ubuntu', sans-serif; font-size:2em; text-align:center;text-shadow: #5d0394 2px 0 20px;">
        <a class="phone" style="color:#ffffff;" href="tel:(323)990-7550">+1 (323) 990-7550</a></p>
    <p class="bt"><a aria-label="Call Us" href="tel:(323)90-7550" class="button-85">&nbsp;CALL US&nbsp;</a>
    </p>
    <p class="bt"><a aria-label="Book Us" href="/book" class="button-85">&nbsp;BOOK US</a></p>
    <br>
    <div class="menu">
        <a style="--clr: #7808d0" class="button" href="/#price-list">
                  <span class="button__icon-wrapper">
                      <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                           viewBox="0 0 14 15">
                          <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>

                      <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg"
                           width="10" fill="none" viewBox="0 0 14 15">
                          <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>
                  </span>
            Price List
        </a>

        <a style="--clr: #7808d0" class="button" href="/#lg-dryer-repair">
                  <span class="button__icon-wrapper">
                      <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                           viewBox="0 0 14 15">
                          <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>

                      <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg"
                           width="10" fill="none" viewBox="0 0 14 15">
                          <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>
                  </span>
            Repair
        </a>
        <a style="--clr: #7808d0" class="button" href="/#lg-dryer-instalation">
                  <span class="button__icon-wrapper">
                      <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                           viewBox="0 0 14 15">
                          <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>

                      <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg"
                           width="10" fill="none" viewBox="0 0 14 15">
                          <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>
                  </span>
            Installation
        </a>
        <a style="--clr: #7808d0" class="button" href="/#lg-dryer-cleaning">
                  <span class="button__icon-wrapper">
                      <svg width="10" class="button__icon-svg" xmlns="http://www.w3.org/2000/svg" fill="none"
                           viewBox="0 0 14 15">
                          <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>

                      <svg class="button__icon-svg  button__icon-svg--copy" xmlns="http://www.w3.org/2000/svg"
                           width="10" fill="none" viewBox="0 0 14 15">
                          <path fill="currentColor"
                                d="M13.376 11.552l-.264-10.44-10.44-.24.024 2.28 6.96-.048L.2 12.56l1.488 1.488 9.432-9.432-.048 6.912 2.304.024z"></path>
                      </svg>
                  </span>
            Cleaning
        </a>
    </div>
    <main>
    <slot />
    <footer class="region prose wrapper">
      <hr style="width:85%; margin:0 auto 0 auto;"><br>
      <div class="maintext">
      <h2>Areas We Serve &nbsp; &nbsp;<a aria-label="Learn more about LG dryer repair" href="#topblock"><img
        loading="lazy"
        alt="Go to main menu"
        src="images/main/back_to_top.png"
        width="80"
        height="79"
></a></h2>
<p> We serve Los Angeles County, Ventura County, and Orange County.</p>
<hr style="width:85%; margin:0 auto 0 auto;"><br>
<iframe title="LG Dryer Repair Service Areas" loading="lazy" width="100%" height="400" src="https://www.google.com/maps/d/u/0/embed?mid=1f9iab1wbwa9DCGwlWDELRcGy4eMQTjE&ehbc=2E312F"></iframe>
       <p>Los Angeles | <a title="Прмимер пйпйпйпйуп" href="/areas/lg-appliance-repair-glendale">Glendale</a>| West Hollywood | <a class="w" title="LG Dryer Repair Pasadena" href="/areas/lg-dryer-repair-pasadena">Pasadena</a>| Beverly Hills | Rancho Palos Verdes | Palos Verdes Estates | Rolling Hills Estates | Redondo Beach | Torrance | Manhattan Beach | El Segundo | Marina Del Rey | Santa Monica | Pacific Palisades | Castellammare Inceville | Malibu | Brentwood | Culver City | Mar Vista | Hollywood | Westwood | Bel Air | Alhambra | S Pasadena | San Marino | Temple City | Rosemead | Monterey Park | Montabello | Burbank | North Hollywood | Van Nuys | Panorama City | Northridge | Ganoga Park | Downey | Whittier | Cerritos | Calabasas | Century City | Sun Valley | Santa Clarita | San Fernando | Granada Hills | Reseda | Woodland Hills | Topanga | Encino | Tarzana | Van Nuys | Northridge | Chatsworth | Ganoga Park | Porter Ranch | Granada Hills | San Fernando | Altadena | Normandie Heights | Burbank | Santa Fe Springs | La Canada Flintridge | La Mirada | La Mirada | Laurel Canyon | Beverly Ridge Estates | South Beverly Park | Beverly Glen | Benedict Canyon | Hollywood Hills | Sherman Oaks | Sherman Village | Studio City | Atwater Village | Somerset | Pacific - Edison | Griffith Park | Warner Bros. Studios | North Hollywood | Valley Village | Toluca Terrace | Magnolia Park | Valley Glen | Toluca Woods | Mandeville Canyon | Bel Air Crest | Getty View Park | Crestwood Hills | Brentwood Glen | Brentwood Park | Sawtelle | Northeast | North of Montana | Ocean Park | Oakwood | Venice | Marina Peninsula | Mid-City | Wilshire Montana | Downtown Santa Monica | Pacific Palisades | Castellammare | Inceville | Topanga Beach | Las Tunas Beach | Big Rock | Las Flores | Eastern Malibu | Malibu Beach | Serra Retreat | Malibu Lagoon State Beach | Malibu Bluffs Park | Dan Blocker Beach Malibu | Latigo Beach | Central Malibu | Paradise Cove Beach | Zuma Beach | Point Dume | Canoga Park | Woodland Hills | Calabasas Park | Vista Point | Park South | Greater Mulwood | Calabasas Park Estates | The Oaks | Tarzana | Encino Village | Sunset Strip | Beverly Crest | Hollywood | Fairfax | La Brea | Mid-Wilshire | Pico - Robertson | Cheviot Hills | Western Heights | West Los Angeles | South Redondo | Malaga Cove | Oak Knoll | Northeast Los Angeles | Normandie Heights | Daisy-Villa | Glassell Park | Koreatown | Westlake | Thousand Oaks | Oak Park | Simi Valley | Hidden Valley | Lake Sherwood | La Habra | Buena Park | Fullerton | Anaheim | Brea</p>

      <p><a style="color:#ffffff;" title="sitemap" href="/sitemap-index.xml" >Sitemap</a></p>
      <h4 style="color:#ffffff;">Services:</h4>
      <p><a style="color:#ffffff;" title="LG Appliance Repair" href="/services/lg-appliance-reapir">LG Appliance Repair</a> <a style="color:#ffffff;" title="LG Appliance Repair" href="/services/lg-dryer-repair">LG dryer repair</a> <a>LG dryer installation</a> <a style="color:#ffffff;" title="LG Appliance Repair" href="/services/lg-dryer-repair">LG gas dryer repair</a> <a style="color:#ffffff;" title="LG Appliance Repair" href="/services/lg-dryer-repair">lg dryer cleaning</a></p>
      <br><br><br><br>
      </div>
  </body>
</html>
